<application-window data-id="TestpadWindow">

  <gui-vbox>
    <!-- MENU BAR -->
    <gui-vbox-container data-grow="0" data-shrink="1" data-basis="auto">
      <gui-menu-bar>
      </gui-menu-bar>
    </gui-vbox-container>

        <!-- CONTENT -->
    <gui-hbox-container data-grow="1" data-expand="true">
      <gui-text data-id="test"></gui-text>
      <gui-button data-id="ButtonSave">Save</gui-button>
    </gui-hbox-container>



 <!--    <gui-vbox-container data-shrink="1" data-basis="auto">

      <gui-vbox data-id="Metadata">
        <gui-vbox-container data-shrink="1">
          <gui-hbox>
            <gui-hbox-container data-basis="80">
              <gui-label class="gui-bold">Texts</gui-label>
            </gui-hbox-container>
            <gui-hbox-container>
              <gui-label data-id="DataEntered"></gui-label>
            </gui-hbox-container>
          </gui-hbox>
        </gui-vbox-container>
      </gui-vbox>

    </gui-vbox-container> -->

  </gui-vbox>


</application-window>
